.section-inputs h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  background: linear-gradient(298deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --white: #ffffff;
  --brilliantazure: #24a3ff;
  --background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  --balck: #000000;
  --deepkoamaru: #323264;
  --grey: #b3b3ba;
  --independence: #46466e;
  --cultured: #f5f5fa;
  --raspberry: #f0145a;
  --brightgray: #e6e6f0;
  --box-shadow: 0px 0px 20px 0px #24a3ff80;
  --background: linear-gradient(228.57deg,
      #323264 11.93%,
      #323264 57.17%,
      #643e72 87.46%);
  --fontsizep: 16px;
  --padding: 2%;
  --fontweight: 700;
}

.bg-gray {
  background-color: var(--cultured);
}

.active {
  color: var(--raspberry);
  font-size: var(--fontsizep);
  line-height: 19.5px;
}

.header-mobile {
  display: none;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--fontsizep);
  line-height: 19.5px;
}

.header-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
}

.header-block-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.header-block-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header-block-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.header-block-button button {
  width: 19px;
  height: 19px;
  font-size: 12px;
  line-height: 14.63px;
  font-weight: var(--fontweight);
  cursor: pointer;
  background-color: var(--background);
  color: var(--grey);
}

.header-block-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.header-block-text p {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  color: var(--grey);
}

.header-block-button button:last-child {
  color: var(--white);
}

.header-block-text h2 {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  font-weight: 700;
  color: var(--grey);
}

.header-block-text span {
  width: 6px;
  height: 6px;
}

.header-nav-description {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-nav-descriptions {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  font-weight: 700;
}

.logo-tablet {
  display: none;
}

.active {
  color: var(--raspberry);
  border-bottom: 3px solid var(--raspberry);
}

ul>li>a {
  color: var(--brilliantazure);
}

.facebook-header {
  color: var(--grey);
  transition: color 0.3s ease;
}

.facebook-header:hover {
  color: var(--raspberry);
}

.section-contact {
  padding: var(--padding);
}

.section-contact {
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
  gap: 60px;
}

.section-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 21px;
  line-height: 143%;
  color: var(--main---regular);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 422px;
  height: 301px;
}

.section-text>.border {
  border: 1px solid var(--brightgray);
}

.facebook-text {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding-top: 10px;
}

.facebook-text p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--brilliantazure);
}

.section-text a {
  color: var(--brilliantazure);
}

.section-inputs {
  border-radius: 12px;
  padding: 30px;
  width: 422px;
  height: 640px;
  background: var(--cultured);
}

.inputs1 {
  width: 362px;
  height: 201px;
  padding-top: 25px;
}

.inputs1>form> :first-child {
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 15px;
  width: 362px;
  height: 56px;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--grey);
}

.inputs1>form> :last-child {
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 15px;
  width: 362px;
  height: 130px;
  background: var(--white);
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--grey);
}

.inputs2 {
  width: 362px;
  height: 159px;
  margin-top: 60px;
}

.inputs2 label {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--grey);
}

.inputs2 form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.inputs2 form :focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.inputs1 form :focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.inputs2 input {
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 15px;
  width: 362px;
  height: 56px;
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--grey);
}

.footer-block {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-block-top {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: solid 2px var(--brightgray);
}

.footer-block-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.footer-block-text p {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  color: var(--deepkoamaru);
}

.footer-block-text a {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: var(--fontweight);
  color: var(--brilliantazure);
}

.footer-block-text2 h2 {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  color: var(--grey);
}

.footer-block-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.footer-block-text3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.footer-block-tablet {
  display: none;
}

.footer-block-text3 h2 {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  font-weight: var(--fontweight);
  color: var(--independence);
}

.footer-block-text3 a {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  font-weight: var(--fontweight);
  color: var(--brilliantazure);
}

.section-inputs button {
  border-radius: 12px;
  padding: 18px 30px;
  width: 362px;
  height: 56px;
  box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
  background: var(--brilliantazure);
  margin-top: 35px;
  color: var(--white);
}

.section-inputs button {
  border-radius: 12px;
  padding: 18px 30px;
  width: 362px;
  height: 56px;
  box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
  background: var(--brilliantazure);
  margin-top: 35px;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.section-inputs button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px 5px rgba(36, 163, 255, 0.7);
  background: linear-gradient(45deg, var(--brilliantazure), #00aaff);
}

.section-inputs button:active {
  transform: scale(0.95);
  box-shadow: 0 0 15px 3px rgba(36, 163, 255, 0.9);
  background: linear-gradient(45deg, #0095ff, #0077cc);
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    max-width: 1023px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header-logo {
    display: none;
  }

  .header-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }

  .header-block-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .header-block-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .logo-tablet {
    display: block;
  }

  .header-block-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    position: relative;
    z-index: 2;
  }

  .header-block-button button {
    width: 19px;
    height: 19px;
    font-size: 12px;
    line-height: 14.63px;
    font-weight: var(--fontweight);
    cursor: pointer;
    background-color: var(--background);
    color: var(--grey);
  }

  .header-block-button button:last-child {
    color: var(--white);
  }

  .header-block-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }

  .header-block-text p {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    color: var(--grey);
  }

  .header-block-text h2 {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: 700;
    color: var(--grey);
  }

  .header-block-text span {
    width: 6px;
    height: 6px;
  }

  .header-nav-description {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header-nav-descriptions {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: 700;
    color: var(--brilliantazure);
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .section-contact {
    padding: var(--padding);
  }

  .section-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    gap: 15px;
  }

  .section-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    color: var(--main---regular);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 422px;
    height: 301px;
  }

  .section-text>.border {
    border: 1px solid var(--brightgray);
    width: 665px;
  }

  .facebook-text {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-top: 10px;
  }

  .facebook-text p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--brilliantazure);
  }

  .section-text a {
    color: var(--brilliantazure);
  }

  .section-inputs {
    width: 673px;
    border-radius: 12px;
    padding: 30px;
    height: 640px;
    background: var(--cultured);
  }

  .inputs1 {
    width: 628px;
    height: 201px;
    padding-top: 25px;
  }

  .inputs1>form> :first-child {
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 15px;
    width: 614px;
    height: 56px;
    background: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--grey);
  }

  .inputs1>form> :last-child {
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 15px;
    width: 614px;
    height: 130px;
    background: var(--white);
    margin-top: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--grey);
  }

  .inputs2 {
    width: 628px;
    height: 159px;
    margin-top: 60px;
  }

  .inputs2 label {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--grey);
  }

  .inputs2 form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .inputs2 form :focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .inputs1 form :focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .inputs2 input {
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 15px;
    width: 614px;
    height: 56px;
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--grey);
  }

  .section-inputs button {
    border-radius: 12px;
    padding: 18px 30px;
    width: 614px;
    height: 56px;
    box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
    background: var(--brilliantazure);
    margin-top: 35px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
  }

  .footer-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .footer-block-top {
    width: 648px;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: none;
  }

  .footer-block-text {
    width: 398px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3px;
  }

  .footer-block-text p {
    text-align: center;
    font-size: var(--fontsizep);
    line-height: 19.5px;
    color: var(--deepkoamaru);
  }

  .footer-block-text a {
    font-size: 12px;
    line-height: 14.63px;
    font-weight: var(--fontweight);
    color: var(--brilliantazure);
  }

  .footer-block-text2 {
    display: none;
  }

  .footer-block-tablet {
    display: block;
    font-size: var(--fontsizep);
    line-height: 19.5px;
    color: var(--grey);
  }

  .footer-block-text2-tablet {
    display: block;
    font-size: 14px;
    line-height: 19.5px;
    color: var(--grey);
  }

  .footer-block-text2-tablet h2 {
    font-size: 14px;
    line-height: 19.5px;
    color: var(--grey);
  }

  .footer-block-bottom {
    width: 398px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }

  .footer-block-text3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }

  .footer-block-text3 h2 {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: var(--fontweight);
    color: var(--independence);
  }

  .footer-block-text3 a {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: var(--fontweight);
    color: var(--brilliantazure);
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .desktop-header {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .container {
    max-width: 1023px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .container {
    max-width: 599px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .hidden {
    display: none;
  }

  .desktop-header {
    display: none;
  }

  .burger {
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background: black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  }

  .menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .menu ul li {
    padding: 10px;
  }

  .menu ul li a {
    color: white;
    text-decoration: none;
  }

  #burger:checked+.burger+.menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .header-mobile-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
  }

  .header-mobile-lang h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    color: var(--grey);
  }

  .header-desktop {
    display: none;
  }

  .bg-mobile-header {
    background: var(--brightgray);
    opacity: 1;
    position: relative;
    z-index: 1;
  }

  .header-mobile-menu>a>img {
    width: 255px;
  }

  .header-mobile-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: var(--padding);
  }

  section-contact {
    padding: var(--padding);
  }

  .section-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    gap: 15px;
  }

  .section-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    color: var(--main---regular);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 353px;
    height: 301px;
  }

  .section-text>.border {
    border: 1px solid var(--brightgray);
    width: 315px;
  }

  .facebook-text {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-top: 10px;
  }

  .facebook-text p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--brilliantazure);
  }

  .section-text a {
    color: var(--brilliantazure);
  }

  .section-inputs {
    width: 315px;
    border-radius: 12px;
    padding: 30px;
    height: 640px;
    display: flex;
    background: var(--cultured);
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .inputs1 {
    width: 280px;
    height: 201px;
    padding-top: 25px;
  }

  .inputs1>form> :first-child {
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 15px;
    width: 275px;
    height: 56px;
    background: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--grey);
  }

  .inputs1>form> :last-child {
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 15px;
    width: 275px;
    height: 130px;
    background: var(--white);
    margin-top: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--grey);
  }

  .inputs2 {
    width: 275px;
    height: 159px;
    margin-top: 60px;
  }

  .inputs2 label {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--grey);
  }

  .inputs2 form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .inputs2 form :focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .inputs1 form :focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .inputs2 input {
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 15px;
    width: 275px;
    height: 56px;
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--grey);
  }

  .section-inputs button {
    border-radius: 12px;
    padding: 18px 30px;
    width: 275px;
    height: 56px;
    box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
    background: var(--brilliantazure);
    margin-top: 35px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
  }

  .footer-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-block-top {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: solid 2px var(--brightgray);
  }

  .footer-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }

  .footer-block-text p {
    width: 209px;
    font-size: var(--fontsizep);
    line-height: 19.5px;
    color: var(--deepkoamaru);
  }

  .footer-block-text a {
    width: 54px;
    font-size: 12px;
    line-height: 14.63px;
    font-weight: var(--fontweight);
    color: var(--brilliantazure);
  }

  .footer-block-text2 h2 {
    font-size: 14px;
    line-height: 19.5px;
    color: var(--grey);
  }

  .footer-block-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  .footer-block-text3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  .footer-block-text3 h2 {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: var(--fontweight);
    color: var(--independence);
  }

  .footer-block-text3 a {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: var(--fontweight);
    color: var(--brilliantazure);
  }
}